<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ERROR</title>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <linK rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
    <div class="container" style="max-width: 600px;margin-top: 100px" >
        <div class="jumbotron">
            <h2>error</h2>
            <P>Sorry, Service Error.</P>
        </div>

        <!-- -->
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
        <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
        <ul>
            <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>

    </div>



</body>
</html>